body {
    font-family: 'Arial Black', Arial, sans-serif;
    background-color: rgb(190, 187, 116);
    margin: 0;
    padding: 0;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.right {
    margin-left: auto;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.category {
    margin-bottom: 40px;
}

.poem-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.poems {
    display: flex;
    overflow: hidden;
    width: 70%;
}
.poem{
    max-height: 40vh;
    overflow-y: scroll;
}
.poems .poem {
    flex: 1 1 33%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(187, 213, 216);
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
}

.scroll-button {
    background-color: rgb(233, 247, 115);
    color: rgb(5, 3, 3);
    border: 1px solid black;
    cursor: pointer;
    padding: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.scroll-button:hover {
    background-color: grey;
}

h2 {
    text-align: center;
}

#poem-container {
    padding: 20px;
}

.poem-category {
    margin-bottom: 20px;
}