body {
    font-family: Arial, sans-serif;
    background-color: #b3e4d8;
    margin: 0;
    padding: 0;
    color: #0f1816;
}

header {
    width: 100%;
    background-color: #142725;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header__content{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
}

header h1 {
    margin: 0;
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

.categories ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.categories ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
}
.categories ul a li{
    list-style: none;
}
.poems {
    max-width: 800px;
    margin: 12vh auto 20px;
    padding: 20px;
}

.poems {    
    font-size: 14px;      
    line-height: 1.3;      
  }

.category h2 {
    background-color: #777;
    color: white;
    padding: 10px;
    text-align: center;
}

.category p {
    padding: 10px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

h2 {
    color: black;
}

.category__item {
    padding: 10px;
    border-bottom: 1px solid rgb(63, 63, 63);
    display: flex;
    justify-content: center;
}
.category__item pre{
    margin-left: -200px ;
}
