body {
    font-family: 'Arial Black', Arial, sans-serif;
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgb(12, 10, 10);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.right {
    margin-left: auto;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.category {
    margin-bottom: 40px;
}

.poem-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.poems {
    display: flex;
    overflow: hidden;
    width: 70%;
}
.poem{
    max-height: 60vh;
    overflow-y: scroll;
    background-color: #e6e6e6;
}
.poems .poem {
    flex: 1 1 33%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(5, 5, 5);
    background-color: light;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 1.5;
}

.scroll-button {
    background-color: #63649b;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    padding: 25px;
    margin-left: 0px;
    margin-right: 10px;
    height: 400px;
}

.scroll-button:hover {
    background-color: rgb(127, 127, 167);
}

h2 {
    text-align: center;
    color:aliceblue;
    font-size: xx-large;

}
.poem__buttons{
    display: none;
}
#poem-container {
    padding: 20px;
}

.poem-category {
    margin-bottom: 20px;
}
@media (max-width: 770px) {
    ._main{
        display: none;
    }
    .poem-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .poem__buttons{
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .poem__buttons .scroll-button{
        height: 0px;
        min-height: 30px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .category{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .poem{
        width: 85vw;
        height: 50vh;
        margin-bottom: 20px;
    }
    .poem-category{
        margin-top: 0;
    }
}