body {
    font-family: Arial, sans-serif;
    background-color: #b3e4d8;
    margin: 0;
    padding: 0;
    color: #0f1816;
}

header {
    width: 100%;
    background-color: #142725;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 25px;
}

.header__content{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
}

header h1 {
    margin: 0;
    text-align: left;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

.category h2 {
    background-color: #777;
    color: white;
    padding: 10px;
    text-align: center;
}

h2 {
    color: black;
}

main {
    margin: 50px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 22px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Стили секции рассказов */
#stories {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стиль для рамки рассказа */
.story-box {
    display: flex;
    border: 3px solid black;
    background-color: #fdede3; 
    width: 100%; /* Растягивается на всю ширину экрана */
    max-width: 100%; /* Адаптация для больших экранов */
    padding: 60px 10px 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Учитывает рамку и padding */
    position: relative;
    overflow: hidden;
}

.story-number {
    position: absolute;
    width: 200px;
    aspect-ratio: 1/1;
    top: -160px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #333; 
    color: rgb(148, 248, 243);
    font-size: 20px; 
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}

.story-content {
    flex: 1;
}

/* Текстовые стили */
.story-content h2 {
    margin: 0 0 10px;
}

.story-content p {
    font-size: 16px; 
    line-height: 1.4; 
}

.story-content .excerpt {
    display: inline;
}

.story-content .full-text {
    display: none;
}

/* Скрытие и показ текста через checkbox */
input[type="checkbox"] {
    display: none; /* Скрываем сам чекбокс */
}

input[type="checkbox"]:checked ~ .full-text {
    display: inline; /* Показываем полный текст */
}

label {
    transform: rotate(-90deg);
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: transform 0.3s ease-in-out; 
}
input[type="checkbox"]:checked ~ label{
    transform: rotate(0deg);
}
/* Стрелка по умолчанию (вниз) */
/* label:before {
    content: "▼"; 
}

/* Стрелка при развёрнутом тексте (вверх) */
/* input[type="checkbox"]:checked + .full-text + label:before {
    content: "▲";
}  */