* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: rgb(181, 232, 252);
    font-size: 17px;
    padding: 0;
}

section {
    color: rgb(0, 0, 0);
    background-color: #f3edbb;
    padding: 15px;
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 5px;
}

.header-contaiener {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
}

h1 {
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 25px;
    gap: 20px;
}

nav ul li {
    display: inline-block;
    position: relative;
    z-index: 20;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul.dropdown {
    display: none;
    position: absolute;
    background-color: rgb(5, 5, 5);
    z-index: 30;
}

.hidden-menu.active ul.dropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hiden-menu:hover ul.dropdown {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.burger-menu {
    display: none;
}

.content {
    display: flex;
    margin: 20px;
}

.wolf-image {
    width: 720px;
    height: 340px;
}

.text {
    margin-left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #f8f1b3;
    margin: 9vh 1vh 3vh;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
}

.wrapper img {
    height: 400px;
}

p {
    line-height: 1.25;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.three-columns {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#about,
#works,
#links {
    margin-bottom: 20px;
}

a {
    color: #3a97f5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media(max-width: 1010px) {
    nav ul {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .three-columns {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 80%;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    nav.active {
        width: 100vw;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        padding: 20px;
    }

    nav.active ul.header-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    body {
        font-size: 15px;
        margin: 0px;
    }

    header {
        padding: 20px;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        font-size: 20px;
        margin: 10px 0;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .wrapper img {
        max-width: 100%;
        height: auto;
    }

    .three-columns {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 90%;
    }

    footer {
        font-size: 12px;
        padding: 10px;
    }
}

@media(max-width: 586px) {
    header h1 {
        font-size: 18px;
    }
}